html{
    background-color: #ededed;
}

body{
    background-color: white;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    padding-bottom: 200px;
}

.contact{
    position:absolute;
    left: 5%;
    text-align: left;
    top: 5%; 
}
h1{ 
    position: relative;
    text-align: center;
    font-family: Wild Youth;
    font-size: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 21px;
    padding-top: 21px;
    padding-bottom: 0px;
}

P{
    font-family: Helvetica;
    font-size: 35px;
    padding: 0px;
    margin-left: 17%;
    padding-top: 2%;
    padding-right: 0px;
}

img{
    float: right;
    margin-top: 5%;
    margin-right: 17%;
    width: 370px;
    border: 11px solid #9d9d9d;
}
