html{
    background: rgba(255, 216, 0, 0.65);
}
body{
    font-family: Helvetica;
}

.contact{
    position:absolute;
    left: 5%;
    text-align: left;
    top: 5%; 
}
h1{
    font-size: 150px;
    margin-bottom: 0px;
    margin-left: 19px;
    margin-top: 0px;
    padding: 0px;
}

#shade{
    position: absolute;
    color: #f583ff;
    font-size: 150px;
    margin-bottom: 0px;
    margin-left: 19px;
    margin-top: 0px;
    padding: 0px;
    top: 4.4%; 
    left: 4.4%;
}

p{
    color: #89558d;
    font-size: 37px;
    margin-left: 19px;
    margin-bottom: 0px;
    padding: 0px;
}
