html{
    background-color: #ededed;
}

body{
    background: white;
    height: auto;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#name{
     font-family: Wild Youth;
    font-size: 79px;
    color: #ffffff;
    position:absolute;
    left: 15%;
    text-align: center;
    top: 37%;
}

h1{
    margin-top: 0px auto;
    margin-bottom: 3px ;
}

#text{
    float: center;
    text-align: left;
    font-family: Helvetica;
    font-size: 37px;
    color: #626262;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 0px;
}

.image{
    position: relative;
}

img{
    width: 100%;
    position: static;
    margin: 0px auto;
    padding: 0px;
    margin-left: 0%;
    opacity: 0.83;
}
    
.links{
    text-align: center;
    color: black;
    font-size: 29px;
    padding: 50px;
}

a{
    font-family: Yikes;
    background: #ff84b9;
    padding: 25px;
    margin-bottom: 40px;
}

a:link{
    color: #000000;
}

a:active{
    color: white;
}

a:visited{
    color: #471865;
}
