html{
    background: rgba(255, 216, 0, 0.65);
}

.contact{
    position:absolute;
    left: 5%;
    text-align: left;
    top: 5%; 
}
h1{ 
    position: relative;
    left: 25%;
    font-family: King Basil Lite;
    font-size: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    bottom: 0px;
}

#shade{
    position: absolute;
    color: #f583ff;
    font-size: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
    top: 4.4%; 
    left: 19.35%;
}

h2{
    text-align: left;
    font-family: Helvetica Neue;
    font-weight: 700;
    font-size: 101px;
    color: #39153c;
    font-size: 37px;
    margin-left: 35%;
    margin-top: 0%;
    margin-bottom: 0px;
    padding: 0px;
}

p{
    text-align: left;
    font-family: Helvetica Neue;
    font-weight: 500;
    color: #39153c;
    font-size: 37px;
    margin-left: 35%;
    margin-top: 0%;
    margin-bottom: 4%;
    padding: 0px;
}

img{
    float: right;
    margin-top: 15%;
    margin-right: 21%;
    width: 350px;
    border: 11px solid orange;
}
