html{
    background: pink;
}

body{
    background: white;
    height: 3000px;
}

h1{
    font-family: Brusher;
    font-size: 110px;
    text-align: center;
    color: #db9dd2;
    letter-spacing: 5px;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #905ba0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial;
    font-size: 17px;
}

li a:hover {
    background-color: rebeccapurple;
}

h3{
    font-family: Andrea;
    font-size: 55px;
    margin-bottom: 0px;
    padding: 0px;
}
.contact_info{
    margin-top: 0px;
    text-align: left; 
    margin-left: 25%;
}
